<div class="container-edit">
  <div class="edit-form">
    <div class="edit-form-card">
      <h2>Recuperar senha</h2>

      <%= simple_form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
        <%= f.error_notification %>

        <div class="form-inputs">
          <%= f.input :email,
                      required: true,
                      autofocus: true,
                      input_html: { autocomplete: "email" } %>
        </div>

        <div class="form-actions entrar form-title">
          <%= f.button :submit, "Redefinir senha", class: "botao" %>
      <% end %>
      <%= link_to "voltar", root_path, class: "voltar" %>
        </div>
    </div>
  </div>
</div>
